.back {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee', sans-serif;
}

table {
    background-color: white;
    border-radius: 5px;
    border: solid black 5px;
    border-collapse: collapse;
    width: 60%;
}

th {
    border: solid black 5px;
    border-collapse: collapse;
}

td {
    border: solid black 3px;
    border-collapse: collapse;
    text-align: center;
}

.chamberForm{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
}

.chamberForm:hover{
    cursor: pointer;
}

.amount{
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
    padding: 10px;
    border: 4px solid black;
    background-color: white;
    margin: 20px;
}